/* В макете нет отрисовки двух строчек с ошибкой. Пришлось увеличить минимальную высоту для того, чтобы при появлении в форме двух строчек, форма не дёргалась. Так же для корректно отображения в мобильной версии*/
.popup__error {
  display: block;
  min-height: 28px;
  padding-top: 6px;
  color: #f00;
  font-weight: 400;
  font-size: 12px;
}

.popup__error_visible {
  display: block;
}
